<!DOCTYPE html>
<html lang="en">

<head>
    <title>LP Admin</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="img/core-img/favicon.ico">
    <link rel="stylesheet" href="backend/css/bootstrap.min.css" />
    <link rel="stylesheet" href="backend/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="backend/css/matrix-style.css" />
    <link rel="stylesheet" href="backend/css/matrix-media.css" />
    <link href="backend/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>

<body>

    <%- include('../partials2/header') %>

    <%- include('../partials2/sidebar') %>
    
    <div id="content">
        <div id="content-header">
            <div id="breadcrumb"><a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a></div>
            <h1>Dashboard</h1>
        </div>
        <div class="container-fluid">
            <hr>
            <div class="jumbotron">
                <h1 class="display-4">Hello, Admin!</h1>
                <p class="lead">We're glad to have you back. Your website is ready for a new post. </p>
                <hr class="my-4">
                <p>L'Belle Paris</p>
                <a class="btn btn-primary btn-lg" href="/" target="blank" role="button">Visit Your Site <span class="icon-share-alt"></span></a>
            </div>
        </div>   
    </div>

    <%- include('../partials2/footer') %>

    <!--end-Footer-part-->
    <script src="backend/js/jquery.min.js"></script>
    <script src="backend/js/bootstrap.min.js"></script>
    
</body>

</html>