<!DOCTYPE html>
<html lang="en">

<head>
    <title>LP Admin</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="img/core-img/favicon.ico">
    <link rel="stylesheet" href="backend/css/bootstrap.min.css" />
    <link rel="stylesheet" href="backend/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="backend/css/matrix-style.css" />
    <link rel="stylesheet" href="backend/css/matrix-media.css" />
    <link href="backend/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>

<body>

    <%- include('../partials2/header') %>

    <%- include('../partials2/sidebar') %>

    <div id="content">
        <div id="content-header">
            <div id="breadcrumb"><a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
                <a href="#" class="current">Covers</a>
            </div>
            <h1>Covers Page</h1>
        </div>
        <div class="container-fluid">
            <hr>
            <div class="widget-box">
                <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                    <h5>Edit Cover</h5>
                </div>
                <div class="widget-content nopadding">
                    <form action="#" class="form-horizontal">
                        <div class="control-group">
                            <label for="normal" class="control-label">Cover's Title</label>
                            <div class="controls">
                                <input type="text" id="mask-phone" class="span8 mask text"></div>
                        </div>
                        <div class="control-group">
                            <label for="normal" class="control-label">Covers Picture</label>
                            <div class="controls">
                                <input type="file" id="mask-phoneExt" class="span8 mask text"></div>
                        </div>
                        <div class="control-group">
                            <label for="normal" class="control-label">Fashion Picture</label>
                            <div class="controls">
                                <input type="text" id="mask-phoneInt" class="span8 mask text"></div>
                        </div>
                        <div class="control-group">
                            <label for="normal" class="control-label">Category</label>
                            <div class="controls">
                                <input type="text" id="mask-date" class="span8 mask text"></div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">News Details</label>
                            <div class="controls">
                                <textarea class="span8"></textarea>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-success">Upload</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials2/footer') %>

    <!--end-Footer-part-->
    <script src="backend/js/jquery.min.js"></script>
    <script src="backend/js/bootstrap.min.js"></script>

</body>

</html>